/*------- Banner --------- */
.banner {
  background-image: url("./../../assets/img/bank-tree.webp");
  background-position: 0% 33%;
  background-size: cover;
  background-repeat: no-repeat;
  height: 400px;
  position: relative;
}

.banner-container {
  position: absolute;
  top: 50px;
  right: 50px;
  width: 300px;
  background: white;
  margin: 2rem;
  padding: 2rem;
  text-align: left;
}

.banner-text-title {
  font-weight: bold;
  font-size: 1.5rem;
  margin: 0;
  color: #2c3e50;
}

.banner-text-subtitle {
  margin-bottom: 0;
  font-size: 1.2rem;
  color: #2c3e50;
}

/*------- feature --------- */

.feature {
  display: flex;
}

.feature-container {
  display: flex;
  flex-direction: column;
  flex: 1;
  align-items: center;
  padding: 2.5rem;
}

.feature-icon {
  width: 100px;
  border: 10px solid #00bc77;
  border-radius: 50%;
  padding: 1rem;
}

.feature-title {
  color: #222;
  font-size: 1.25rem;
  font-weight: bold;
  margin-bottom: 0.5rem;
  text-align: center;
}

.feature-text {
  color: #222;
  font-size: 1rem;
  text-align: center;
  font-weight: 300;
}

/*------- media queries --------- */

@media (max-width: 920px) {
  .banner {
    height: 300px;
    background-position: 0 -50px;
  }

  .banner-container {
    position: relative;
    top: 2rem;
    width: 200px;
    margin: 0 auto;
    right: 0;
  }

  .banner-text-title {
    font-size: 1rem;
  }
  .banner-text-subtitle {
    font-size: 0.9rem;
  }
  .feature {
    flex-direction: column;
  }
}
